body{
    background-color: cyan;
}
h1{
    font-weight: bold;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
.name_of_objects{
    color :rgb(255, 0, 0);
    font-size: large;
}
